### Importing the dataset

In [2]:
import pandas as pd
file = pd.read_csv(r"D:\DAY2DAY\Python_MachineLearning_DidaticaTech\ML_python_dt\datasets\Admission_Predict.csv")

In [7]:
# file.head() 
# file.info()
# file.describe()

In [8]:
file.drop(columns='Serial No.', axis=1, inplace=True)
file.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
label = file['Chance of Admit ']
features = file[file.columns[:-1]] 
features.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

### Importing the classifier

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

#Setting the folds
kfold = KFold(n_splits=5)

#Model
model = DecisionTreeRegressor()
result = cross_val_score(model, features, label, cv=kfold)

#Printing results
print(f"R2 Coefficient: {result.mean():.3f}")

R2 Coefficient: 0.513

### Fine tuning

In [26]:
import numpy as np
from sklearn.model_selection import GridSearchCV

#Setting the values for GridSearch
min_split = list(np.arange(2,10,1))
max_split = list(np.arange(3,12,1))
algorithms = ['squared_error', 'friedman_mse', 'absolute_error']
grid_values = {'min_samples_split':min_split, 'max_depth':max_split, 'criterion':algorithms}

#New model
modelTuned = DecisionTreeRegressor()

#Grid creation
gridDecisionTree = GridSearchCV(estimator=modelTuned, param_grid=grid_values, cv=kfold)
gridDecisionTree.fit(features, label)

#printing results
print(f'Min_split: {gridDecisionTree.best_estimator_.min_samples_split}')
print(f'Max_split: {gridDecisionTree.best_estimator_.max_depth}')
print(f'Chosen algorithm: {gridDecisionTree.best_estimator_.criterion}')
print(f'R2 Coefficient: {gridDecisionTree.best_score_}')

Min_split: 5
Max_split: 4
Chosen algorithm: absolute_error
Squared mean error: 0.7164058426218288