In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

data = pd.read_csv("E:/DAY2DAY/Python_MachineLearning_DidaticaTech/ML_python_dt/3.mod01_Outras_regressoes/dataset/Admission_Predict.csv")

In [3]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [28]:
data['Chance of Admit ']

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [5]:
label = data.iloc[:,[-1]]
features = data.drop(columns=data.columns[-1])

In [21]:
features.drop('Serial No.', axis=1, inplace=True)

KeyError: "['Serial No.'] not found in axis"

In [22]:
features.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [9]:
missing = data.isnull().sum()
print(missing)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
features_train, features_test, label_train, label_test = train_test_split(features, label, test_size=0.3, random_state=45)

In [53]:
def regressionModels(features_train, label_train, features_test, label_test):#a, b, c, d) :
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    linear = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    linear.fit(features_train, label_train)
    ridge.fit(features_train, label_train)
    lasso.fit(features_train, label_train)
    elastic.fit(features_train, label_train)
    resultLinear = linear.score(features_test, label_test)
    resultRidge = ridge.score(features_test, label_test)
    resulLasso = lasso.score(features_test, label_test)
    resultElastic = elastic.score(features_test, label_test)
    best={'Linear': resultLinear,'Rigde':resultRidge,'Lasso':resulLasso,'Elastic':resultElastic}
    print(f'Best Accuracy: {[key for key, value in best.items() if value == max(best.values())]} = {max(best.values())}\n\n')
    print(f'Linear Regression: {resultLinear}\n Ridge Regression: {resultRidge}\n Lasso Regression: {resulLasso}\n ElasticNet: {resultElastic}')

In [54]:
regressionModels(features_train,label_train,features_test,label_test)

Best Accuracy: ['Linear'] = 0.8093428763333979


Linear Regression: 0.8093428763333979
 Ridge Regression: 0.8085345281885273
 Lasso Regression: 0.2855728845758695
 ElasticNet: 0.5647447563640624